
## Python 
*.py[cod]


## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

*~

## Do not sync the NASA topographic image, use the get_source script to download it.
land_shallow_topo_8192.tif
